.profile_section{
    border: 1px solid black;
    border: 1px solid black;
    padding:2%;
    max-width: 40%;
    overflow: auto;
  
}

.info{
    background-color: rgb(235, 232, 237);
    width:45%;
    float:left;
    padding: 1%;
    border: 1px solid black;
 
}
.image{
     width:15%;
     margin-left: 60% ;         
 
}

.matches{
    padding: 2%;
   text-align: center;
}
ul{
    list-style-type: none;
    padding-left: 0;
}

table
 {
      margin-left: auto;
  margin-right: auto;
}